@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
    background-color: rgb(209 213 219);
    border-radius: 4px;
  }

  .scrollbar-thumb-gray-300::-webkit-scrollbar-thumb:hover {
    background-color: rgb(156 163 175);
  }

  .scrollbar-track-gray-100::-webkit-scrollbar-track {
    background-color: rgb(243 244 246);
    border-radius: 4px;
  }
}
